body {
  font-family: Tahoma, Geneva, sans-serif;
  padding-bottom: 0px;
  margin: 0px;
  background: #090a0f;
  height: 100vh;
}

html {
  height: 100vh;
  background: #090a0f;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 1.6em;
}

a {
  color: white;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

 /* To give card different colour filling, change .card background and card_svg path first option*/
  * {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: inherit; /* no underline */
    color: inherit;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }
  .cards_item {
    display: flex;
    padding: 1rem;
    list-style: none;
  }

  .card {
    position: relative;
    background: #0af; /*Specific to React content part, not svg #0af , #fc6621; svelte , #42b883 vue*/
    display: flex;
    border-radius: 6px;
    color: #151d28;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-direction: column;
    opacity: 1; max-height:40rem;
    
  }
  .card__line {
    opacity: 1;
   
  }
  .card__image {
    opacity: 1;
    animation: ImageFadeIn 0.4s 0.6s forwards;
  }
  .card__content{
    padding: 0 10px;
 
  }
  .card__image-container {
    margin: auto;
  }
  .card__svg {
  position: absolute; 
  top:11.5%;
  }
  .card__title {
    color: #151d28;
    font-weight: 800;
    letter-spacing: 0.01em;
    z-index: 9999999;
  }


  @media (max-width: 370px) {
    .card__title { font-size: 125%; margin-top: 8px;}
   
  }
   @media (max-width: 30rem) {
    .card__svg{top:14.5%;}
    .container {margin: 0;}
   }
   @media (min-width: 30rem) {
    .card__svg{top:16.1%;}
    .container {margin: 0 40px;}
  }
  @media (min-width: 40rem) {
    .card__svg{top:14.3%}
    .cards_item {width: 50%}
    .container {margin: 0}
  }
  @media (min-width: 56rem) {
    .card__svg{top:11.6%;}
    .cards_item {width: 33.3333%;}
    .container {margin: 0;}
  }

  /*Blur */

  .blur_grayscale {
    -webkit-filter: blur(5px) grayscale(1);
    -moz-filter: blur(5px) grayscale(1);
    -o-filter: blur(5px) grayscale(1);
    -ms-filter: blur(5px) grayscale(1);
    filter: blur(5px) grayscale(1);
    max-width: 100%;
    height: auto;
    background-color: #090a0f;
    z-index: 9999;
    /*noselect*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                                                      supported by Chrome and Opera */
    /*cursor: not-allowed;*/
  }
  .mouseover_pointer {
    cursor: pointer;
  }
  hr{
    color:black;
  }
  
